/******************** VERSION MOBILE - DEBUT ********************/ 
@media screen and (min-width: 0px) {

body{
    margin: auto;
    font-family: "roboto";
    max-width: 768px;
}



/******** Header - DEBUT ********/    

header{
    background-color: #F2F2F2;
    height: 400px;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
}

.localise{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    box-shadow: inset 0px 4px 5px -1px rgba(0,0,0,0.37);
}
.localise i{
    padding-right: 10px;
}

.phrases-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 13% 0px 13%;
}

.phrases-header h1{
    font-size: 25px;
    margin: 0px 5% 0px 5%;
}
.phrases-header p{
    font-size: 17px;
    margin-bottom: 30px;
}

header button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 55px;
    border-radius: 60px;
    width: 80%;
    background: linear-gradient(#FF79DA, #9356DC);
    font-weight: bold;
    color: white;
    font-size: 17px;
    border: none;
    box-shadow: 0px 7px 15px -2px #000000;
    cursor: pointer;
}
/******** Header - FIN ********/   

/******** FONCTIONNEMENT - DEBUT ********/
.fonctionnement{
    padding: 5%;

}

.fonctionnement-trois-cartes{
    display: flex;
    margin: auto;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
}

.fonctionnement-carte{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 100%;
    box-shadow: 0px 6px 13px -10px #000000;
    background-color: #F2F2F2;
    border-radius: 20px;
    cursor: pointer;
}
 .fonctionnement-trois-cartes :hover{
    background-color: #dddada;
 }

.fonctionnement-number{
    font-size: 18px;
    color: white;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4% 0 -10px;
}

.fonctionnement-logo{
    font-size: 20px;
    margin-right: 4%;
    color: #949494;
}

.fonctionnement-logo :hover{
    color: #9356DC;
}

.fonctionnement-phrase{
    font-weight: bold;
}
/******** FONCTIONNEMENT - FIN ********/

/******** RESTAURANTS - DEBUT ********/
.restaurants{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 40px 0 40px 0;
    height: 1300px;
}

main h2{
    margin: 0 0 0 50px;
}

.restaurants-carte{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 6px 13px -10px #000000;
    justify-content: space-around;
}

.restaurants img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.nouveau{
    background-color: #99E2D0;
    color: #008664;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 965px;
    right: 8%;
}

.nouveau2{
    top: 1265px;
    right: 8%;
}

@media screen and (min-width: 517px) and (max-width: 768px) {
    .nouveau{
        top: 980px;
    }
    .nouveau2{
        top: 1290px;
    }
}


.restaurants-carte-partie-basse{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background-color: white;
    border-radius: 0 0 30px 30px;
    height: 80px;

}

.restaurants-carte-partie-basse-gauche{
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.coeur{
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.coeur:hover{
    color:#FF79DA;
}

.restaurants-carte-partie-basse-gauche p{
    margin: 5px 0 0 0;
}

.restaurants-carte-partie-basse-gauche h3{
    margin: 0 0 0 0;
}
/******** RESTAURANTS - FIN ********/

/******** FOOTER - DEBUT ********/
footer{ 
    color: white;
    background-color: #353535;
    font-size: 20px;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

footer i{
    margin-right: 10px;
}

li{
    margin: 10px;
}

footer p{
    margin: 0;
}

.logo-footer{
    font-family: "shrikhand";
    padding: 5px;
    font-size: 22px;
}

.footer-ligne{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/******** FOOTER - FIN ********/
a{
    text-decoration: none;
    color: #000000;
}
}
/******************** VERSION MOBILE - FIN ********************/  

/******************** VERSION Tablette VERTICALE - Debut ********************/ 
@media screen and (min-width: 768px) {
    body{
        max-width:1200px;
    }

    body h3{
        font-size: 30px;
    }

    body h2{
        font-size: 40px;
    }

    body p, i{
        font-size: 25px;
    }

    header{
        height: 500px;
    }
    .phrases-header h1{
        font-size: 35px;
    }

    .phrases-header p{
        font-size: 30px;
    }

    header button{
        font-size: 30px;
        height: 80px;
    }

    .fonctionnement{
        height: 500px;
    }

    .fonctionnement-trois-cartes{
        height: 450px;
    }
    .fonctionnement-carte{
        height: 100px;
    }

    .fonctionnement-carte p, i{
        font-size: 25px;
    }

    .restaurants{
        height: 2800px;
    }

    .restaurants img{
        height: 450px;
    }

    .restaurants-carte-partie-basse{
        height: 130px;
    }

    .restaurants-carte-partie-basse i{
        font-size: 40px;
    }

    .nouveau{
        top: 1320px;
    }

    .nouveau2{
        top: 1990px;
    }
}
/******************** VERSION Tablette VERICALE - FIN ********************/   

/******************** VERSION DESKTOP / Tablette horizontale - DEBUT ********************/
@media screen and (min-width: 1200px){
body{
    max-width: 1400px;
    margin: auto;
}

main{
    margin: 40px 0 0 0;
}
.restaurants{
    flex-wrap: wrap;
    height: 1000px;
    background-color: white;
}
.restaurants-carte{
    width: 35%;
}

.fonctionnement-carte{
    width: 30%;
}
.fonctionnement{
    height: 100px;
    width: 100%;
    padding: 30px 2% 90px 2%;
}

.fonctionnement-trois-cartes{
    width: 100%;
    height: 200px;
    flex-direction: row;
}

.restaurants-carte h2{
    margin-top: 20px;
    width: 90%;
}

.restaurants-carte img{
    height: 250px;
}

footer ul{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
}
/******************** VERSION DESKTOP / Tablette horizontale - FIN ********************/   