.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    animation: disappear 3s forwards;
}

@keyframes disappear{
    to{
        visibility: hidden;
    }
}

.loader p{
    font-size: 40px;
    margin-left: 30px;
}

/******************** VERSION MOBILE - DEBUT ********************/ 
@media screen and (min-width: 0px) {
    
    body{
        margin: auto;
        font-family: "roboto";
        background-color: #F2F2F2;
        max-width: 768px;
    }
    p, h2{
        margin: 0px;
        padding: 0;
    }

    img{
        object-fit: cover;
    }

/******** Header - DEBUT ********/    

header{
    background-color: white;
    height: 400px;
}

h1{
    font-size: 25px;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    align-items: center;
    width: 65%;
}

.logo i{
    font-size: 25px;
}

.header-image img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 317px;
    min-height: 250px;
}
/******** Header - FIN ********/

/******** MENU - DEBUT ********/
.titre-menu{
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 50px 50px 0 0;
    font-family: "shrikhand";
    padding: 20px 0 20px 0;
    position: relative;
    margin-top: -115px;
}

.titre {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 10px;
    background-color: #F2F2F2;
    font-size: 18px;
    border-bottom: solid #9356DC 3px;
    width: 30px;
}

.titre-menu i{
    font-size: 30px;
}

.prix-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carte-menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    align-content: center;
    height: 70px;
    justify-content: center;
    box-shadow: 0px 2px 5px -2px #000000;
}

.carte-menu h2{
    font-size: 18px;
    padding: 0 0 0 10px;
}

.carte-menu p{
    padding: 0px 10px 0px 10px;
}

.categorie-menu{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 30px;
    justify-content: space-around;
    background-color: #F2F2F2;
    align-items: center;
}

.variante-menu{
    height: 350px;
}

button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 55px;
    border-radius: 60px;
    width: 60%;
    background: linear-gradient(#FF79DA, #9356DC);
    font-weight: bold;
    color: white;
    font-size: 17px;
    border: none;
    box-shadow: 0px 7px 15px -2px #000000;
    cursor: pointer;
}

.boutton-commander{
    margin: 40px 0 60px 0;
}
/******** MENU - FIN ********/

    
/******** FOOTER - DEBUT ********/
footer{ 
    color: white;
    background-color: #353535;
    font-size: 20px;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

footer i{
    margin-right: 10px;
}

li{
    margin: 10px;
}

footer p{
    margin: 0;
}

.logo-footer{
    font-family: "shrikhand";
    padding: 5px;
    font-size: 22px;
}

.footer-ligne{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/******** FOOTER - FIN ********/
}
/******************** VERSION MOBILE - FIN ********************/ 

/******************** VERSION Tablette VERTICALE - Debut ********************/ 
@media screen and (min-width: 768px) {
    body{
        max-width:1100px;
    }

    h1{
        font-size: 40px;
    }

    .titre-menu i{
        font-size: 40px;
    }    

    .titre-menu{
        justify-content: space-between;
        padding: 0px 30px 0 30px;
        height: 120px;

    }


    .titre p{
        font-size: 30px;
    }

    .carte-menu{
        height: 120px;
    }

    .carte-menu h2{
        font-size: 26px;
    }

    .carte-menu p{
        font-size: 25px;
    }

    .categorie-menu{
        height: 525px;
    }
}
/******************** VERSION Tablette VERICALE - FIN ********************/ 

/******************** VERSION DESKTOP / Tablette horizontale - DEBUT ********************/
@media screen and (min-width: 1024px) {
    body{
        max-width:1400px;
    }

    .titre-menu{
        height: 160px;
        margin-top: 10px;
    }

    header{
        height: 300px;
    }
    .header-image img{
        max-height: 300px;
    }

    .carte-menu h2{
        font-size: 21px
    }

    .carte-menu p{
        font-size: 20px;
    }

    .menu p{
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    .menu{
        justify-content: center;
        width: 100%;
   }

    .titre{
        width: 30px;
        background-color: #F2F2F2;
    }

    .carte-menu{
        width: 26%;
        height: 100px;
        padding-top: 15px;
    }

    .categorie-menu{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        height: 120px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .variante-menu{
        height: 270px;

    }
    footer ul{
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    button{
        font-size: 35px;
        width: 40%;
        height: 100px;
    }
}
/******************** VERSION DESKTOP / Tablette horizontale - FIN ********************/   