/******************** VERSION MOBILE - DEBUT ********************/ 
@media screen and (max-width: 768px) {

body{
    max-width: 768px;
    margin: auto;
    font-family: "roboto";
}

/******** Header - DEBUT ********/    

header{
    background-color: #F2F2F2;
    height: 400px;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.localise{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    box-shadow: inset 0px 4px 5px -1px rgba(0,0,0,0.37);
}
.localise i{
    padding-right: 10px;
}

.phrases-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 13% 0px 13%;
}

.phrases-header h1{
    font-size: 25px;
    margin: 0px 5% 0px 5%;
}
.phrases-header p{
    font-size: 17px;
    margin-bottom: 30px;
}

header button{
display: flex;
align-items: center;
justify-content: space-around;
margin: auto;
height: 55px;
border-radius: 60px;
width: 80%;
background: linear-gradient(#FF79DA, #9356DC);
font-weight: bold;
color: white;
font-size: 17px;
border: none;
box-shadow: 0px 7px 15px -2px #000000;
}
/******** Header - FIN ********/    

/******** FONCTIONNEMENT - DEBUT ********/

/******** FONCTIONNEMENT - FIN ********/



}
/******************** VERSION MOBILE - FIN ********************/    

